FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=
SQLALCHEMY_DATABASE_URI=sqlite:///db.sqlite
SQLALCHEMY_TRACK_MODIFICATIONS=False
ENABLE_DEBUG=True
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=b
PUSHER_CLUSTER=
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=